{% extends "layout.html" %}
{% block content %}

        <!-- Page Content -->
        <div class="card w-50">
          <div class="card-header">
            Drone camera feeds
          </div>
          <div class="card-body">
              <h1>Last image:</h1>
              <img src="/images/last" style="border: 3px solid black"/>
              <br>
              <br>
              <a href="/r"><button class="btn btn-info">Take photo</button></a>
              <a href="/stream" target="blank"><button class="btn btn-primary">Stream</button></a>
          </div>
        </div>

{% endblock %}
